<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		
    </startup>
	<connectionStrings>
		<add name="SqlConnection" connectionString= "server=wgudb.ucertify.com; database=U07LKh; user id=U07LKh; port=3306; password=53689059225;"/>
	</connectionStrings>
</configuration>